In [1]:
import pandas as pd
import numpy as np
df = pd.read_csv('export3.csv',encoding='utf-8')
df['zipcode'] = df['zipcode'].fillna(0).astype(str)
df['city'] = df['city'].replace(' ', '-',regex=True).str.lower()
df['state'] = df['state'].str.lower()
df

,id,email,phone,first_name,last_name,city,state,zipcode,budget,created_at
0,2657281.0,NaN,8.702536e+09,Easter,Stevenson,jonesboro,ar,72401.0,$400 - $699,2021-04-07T04:06:54-07:00
1,2657311.0,NaN,9.197272e+09,David,Ledoux,henderson,nc,27537.0,$400 - $699,2021-04-07T04:40:39-07:00
2,2657314.0,NaN,5.133642e+09,Paula,Toole,batavia,oh,45103.0,$400 - $699,2021-04-07T04:44:12-07:00
3,2657332.0,NaN,6.185183e+09,Brian,branch,marion,il,62959.0,$399 Or Less,2021-04-07T04:55:30-07:00
4,2657335.0,NaN,8.129015e+09,Michelle,Fisher,evansville,in,47711.0,$400 - $699,2021-04-07T04:56:16-07:00
...,...,...,...,...,...,...,...,...,...,...
362,2660939.0,NaN,4.792383e+09,Kathy,seals,springdale,ar,72762.0,$400 - $699,2021-04-07T14:31:09-07:00
363,2660941.0,NaN,3.365404e+09,Marva,Warnsley,belews-creek,nc,27009.0,$1000+,2021-04-07T14:31:33-07:00
364,2660946.0,NaN,7.313778e+09,Jessica,M. Jackson,dyersburg,tn,38024.0,$399 Or Less,2021-04-07T14:32:39-07:00
365,2660951.0,NaN,3.462643e+09,Nakia,Dennis,houston,tx,77008.0,$1000+,2021-04-07T14:34:06-07:00
366,2660956.0,NaN,5.308454e+09,Ron,cannada,marysville,ca,95901.0,$400 - $699,2021-04-07T14:35:35-07:00

In [2]:
df['budget_categories'] = 0
df['low'] = 0
df['high'] = 0
for i in range (0,len(df)):
  if df['budget'][i] == '$399 Or Less':
    df['budget_categories'][i] = 1
    df['low'][i] = 399 * 0.8
    df['high'][i] = 399 * 1.2 
  elif df['budget'][i] == '$400 - $699':
    df['budget_categories'][i] = 2
    df['low'][i] = 400 * 0.8
    df['high'][i] = 699 * 1.2
  elif df['budget'][i] == '$700 - $999':
    df['budget_categories'][i] = 3
    df['low'][i] = 700 * 0.8
    df['high'][i] = 999 * 1.2
  elif df['budget'][i] == '$1000+':
    df['budget_categories'][i] = 4
    df['low'][i] = 1000 
    df['high'][i] = 1000 * 1.2
  else:
    df['budget_categories'][i] = 5
    df['low'][i] = 400
    df['high'][i] = 1000 
df

<ipython-input-2-059fb9be0f80>:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['budget_categories'][i] = 2
<ipython-input-2-059fb9be0f80>:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['low'][i] = 400 * 0.8
<ipython-input-2-059fb9be0f80>:12: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['high'][i] = 699 * 1.2
<ipython-input-2-059fb9be0f80>:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['budget_categories'][i] = 1
<ipython-input-2-059fb9be0f80>:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['low'][i] = 399 * 0.8
<ipython-input-2-059fb9be0f80>:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['high'][i] = 399 * 1.2
<ipython-input-2-059fb9be0f80>:18: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['budget_categories'][i] = 4
<ipython-input-2-059fb9be0f80>:19: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['low'][i] = 1000
<ipython-input-2-059fb9be0f80>:20: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['high'][i] = 1000 * 1.2
<ipython-input-2-059fb9be0f80>:14: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['budget_categories'][i] = 3
<ipython-input-2-059fb9be0f80>:15: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['low'][i] = 700 * 0.8
<ipython-input-2-059fb9be0f80>:16: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['high'][i] = 999 * 1.2
<ipython-input-2-059fb9be0f80>:22: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['budget_categories'][i] = 5
<ipython-input-2-059fb9be0f80>:23: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['low'][i] = 400
<ipython-input-2-059fb9be0f80>:24: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['high'][i] = 1000

,id,email,phone,first_name,last_name,city,state,zipcode,budget,created_at,budget_categories,low,high
0,2657281.0,NaN,8.702536e+09,Easter,Stevenson,jonesboro,ar,72401.0,$400 - $699,2021-04-07T04:06:54-07:00,2,320,838
1,2657311.0,NaN,9.197272e+09,David,Ledoux,henderson,nc,27537.0,$400 - $699,2021-04-07T04:40:39-07:00,2,320,838
2,2657314.0,NaN,5.133642e+09,Paula,Toole,batavia,oh,45103.0,$400 - $699,2021-04-07T04:44:12-07:00,2,320,838
3,2657332.0,NaN,6.185183e+09,Brian,branch,marion,il,62959.0,$399 Or Less,2021-04-07T04:55:30-07:00,1,319,478
4,2657335.0,NaN,8.129015e+09,Michelle,Fisher,evansville,in,47711.0,$400 - $699,2021-04-07T04:56:16-07:00,2,320,838
...,...,...,...,...,...,...,...,...,...,...,...,...,...
362,2660939.0,NaN,4.792383e+09,Kathy,seals,springdale,ar,72762.0,$400 - $699,2021-04-07T14:31:09-07:00,2,320,838
363,2660941.0,NaN,3.365404e+09,Marva,Warnsley,belews-creek,nc,27009.0,$1000+,2021-04-07T14:31:33-07:00,4,1000,1200
364,2660946.0,NaN,7.313778e+09,Jessica,M. Jackson,dyersburg,tn,38024.0,$399 Or Less,2021-04-07T14:32:39-07:00,1,319,478
365,2660951.0,NaN,3.462643e+09,Nakia,Dennis,houston,tx,77008.0,$1000+,2021-04-07T14:34:06-07:00,4,1000,1200
366,2660956.0,NaN,5.308454e+09,Ron,cannada,marysville,ca,95901.0,$400 - $699,2021-04-07T14:35:35-07:00,2,320,838

In [3]:
df.dtypes

id                   float64
email                 object
phone                float64
first_name            object
last_name             object
city                  object
state                 object
zipcode               object
budget                object
created_at            object
budget_categories      int64
low                    int64
high                   int64
dtype: object

In [4]:
for i in range (0,len(df)):
    xx = len(df['zipcode'][i])
    print(xx)
    if(xx == 4):
        print('aaa')
        df['zipcode'][i] = '0'+ df['zipcode'][i]
    if(df['zipcode'][i]=='0'):
        df = df.drop(i)
df = df.drop_duplicates('zipcode')
df

7
7
7
7
7
7
7
7
7
3
7
7
7
7
7
7
7
7
7
7
3
3
7
7
3
7
3
7
6
3
7
7
7
3
7
7
3
7
3
3
7
3
7
3
3
3
3
7
7
7
7
7
7
7
3
7
7
7
6
7
7
7
7
3
7
7
7
7
7
7
6
3
7
3
3
7
7
7
7
7
3
7
7
3
6
7
7
7
3
3
3
7
3
7
7
7
3
7
7
7
7
7
7
7
7
3
7
3
3
7
3
7
3
3
7
3
7
7
7
7
7
7
7
7
7
6
7
3
7
7
7
7
7
7
7
7
7
3
7
3
7
7
3
7
7
7
7
3
7
7
7
7
6
7
7
3
6
7
7
7
7
7
7
3
3
7
7
7
7
3
7
7
7
7
7
7
3
7
7
7
3
3
3
3
3
7
7
6
3
7
3
7
7
7
7
7
7
7
7
7
7
3
7
3
7
7
3
7
6
6
7
7
3
7
7
3
7
3
7
7
7
7
7
7
3
7
7
7
7
7
6
3
7
3
6
7
3
7
3
7
7
3
7
7
7
7
3
7
3
7
3
7
7
3
7
7
3
7
7
3
3
7
7
7
7
7
3
7
7
7
7
3
7
7
7
7
7
3
3
3
6
3
7
3
7
7
3
7
7
7
7
3
7
7
3
6
7
7
7
3
7
7
3
7
3
7
7
7
7
7
7
7
7
3
3
7
7
7
7
7
7
7
7
3
7
7
7
7
7
3
7
7
7
7
7
3
3
7
7
7
7
7
7
7
7
7
7
7
7
3
3
7
3
7
3
3
7
7
3
7
3
7
7
7
7
7
7

,id,email,phone,first_name,last_name,city,state,zipcode,budget,created_at,budget_categories,low,high
0,2657281.0,NaN,8.702536e+09,Easter,Stevenson,jonesboro,ar,72401.0,$400 - $699,2021-04-07T04:06:54-07:00,2,320,838
1,2657311.0,NaN,9.197272e+09,David,Ledoux,henderson,nc,27537.0,$400 - $699,2021-04-07T04:40:39-07:00,2,320,838
2,2657314.0,NaN,5.133642e+09,Paula,Toole,batavia,oh,45103.0,$400 - $699,2021-04-07T04:44:12-07:00,2,320,838
3,2657332.0,NaN,6.185183e+09,Brian,branch,marion,il,62959.0,$399 Or Less,2021-04-07T04:55:30-07:00,1,319,478
4,2657335.0,NaN,8.129015e+09,Michelle,Fisher,evansville,in,47711.0,$400 - $699,2021-04-07T04:56:16-07:00,2,320,838
...,...,...,...,...,...,...,...,...,...,...,...,...,...
362,2660939.0,NaN,4.792383e+09,Kathy,seals,springdale,ar,72762.0,$400 - $699,2021-04-07T14:31:09-07:00,2,320,838
363,2660941.0,NaN,3.365404e+09,Marva,Warnsley,belews-creek,nc,27009.0,$1000+,2021-04-07T14:31:33-07:00,4,1000,1200
364,2660946.0,NaN,7.313778e+09,Jessica,M. Jackson,dyersburg,tn,38024.0,$399 Or Less,2021-04-07T14:32:39-07:00,1,319,478
365,2660951.0,NaN,3.462643e+09,Nakia,Dennis,houston,tx,77008.0,$1000+,2021-04-07T14:34:06-07:00,4,1000,1200
366,2660956.0,NaN,5.308454e+09,Ron,cannada,marysville,ca,95901.0,$400 - $699,2021-04-07T14:35:35-07:00,2,320,838

In [5]:
df = df.reset_index()
df['index'] = df.index+1
df['zipcode'] = df['zipcode'].astype(str).str.replace('\.0', '')
df

,index,id,email,phone,first_name,last_name,city,state,zipcode,budget,created_at,budget_categories,low,high
0,1,2657281.0,NaN,8.702536e+09,Easter,Stevenson,jonesboro,ar,72401,$400 - $699,2021-04-07T04:06:54-07:00,2,320,838
1,2,2657311.0,NaN,9.197272e+09,David,Ledoux,henderson,nc,27537,$400 - $699,2021-04-07T04:40:39-07:00,2,320,838
2,3,2657314.0,NaN,5.133642e+09,Paula,Toole,batavia,oh,45103,$400 - $699,2021-04-07T04:44:12-07:00,2,320,838
3,4,2657332.0,NaN,6.185183e+09,Brian,branch,marion,il,62959,$399 Or Less,2021-04-07T04:55:30-07:00,1,319,478
4,5,2657335.0,NaN,8.129015e+09,Michelle,Fisher,evansville,in,47711,$400 - $699,2021-04-07T04:56:16-07:00,2,320,838
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
255,256,2660939.0,NaN,4.792383e+09,Kathy,seals,springdale,ar,72762,$400 - $699,2021-04-07T14:31:09-07:00,2,320,838
256,257,2660941.0,NaN,3.365404e+09,Marva,Warnsley,belews-creek,nc,27009,$1000+,2021-04-07T14:31:33-07:00,4,1000,1200
257,258,2660946.0,NaN,7.313778e+09,Jessica,M. Jackson,dyersburg,tn,38024,$399 Or Less,2021-04-07T14:32:39-07:00,1,319,478
258,259,2660951.0,NaN,3.462643e+09,Nakia,Dennis,houston,tx,77008,$1000+,2021-04-07T14:34:06-07:00,4,1000,1200
259,260,2660956.0,NaN,5.308454e+09,Ron,cannada,marysville,ca,95901,$400 - $699,2021-04-07T14:35:35-07:00,2,320,838

In [6]:
df['link_def'] = 'https://www.apartments.com/'
df['combined']="'"+df['link_def'].astype(str)+df['city'].astype(str)+'-'+df['state'].astype(str)+'-'+df['zipcode'].astype(str)+'/' + df['low'].astype(str) + '-to-' + df['high'].astype(str) + "',"
df['combined']

0      'https://www.apartments.com/jonesboro-ar-72401...
1      'https://www.apartments.com/henderson-nc-27537...
2      'https://www.apartments.com/batavia-oh-45103/3...
3      'https://www.apartments.com/marion-il-62959/31...
4      'https://www.apartments.com/evansville-in-4771...
                             ...
255    'https://www.apartments.com/springdale-ar-7276...
256    'https://www.apartments.com/belews-creek-nc-27...
257    'https://www.apartments.com/dyersburg-tn-38024...
258    'https://www.apartments.com/houston-tx-77008/1...
259    'https://www.apartments.com/marysville-ca-9590...
Name: combined, Length: 260, dtype: object

In [7]:
df['combined'].to_csv('link_zipcode_filter2.csv', sep='\t', index=False)

**CRAWL HERE!!**

After crawl, continue to code below

In [8]:
df_apart = pd.read_csv('apartments_filter_unique_zipcode.csv',encoding='utf-8')
df_apart['zipcode'] = df_apart['address'].str[-5:]
df_apart['phone_number'] = df_apart['phone_number'].replace('-', '',regex=True).str.lower()
df_apart

,_type,address,link_url,name,page,phone_number,zipcode
0,dict,"1830 E Johnson St, Jonesboro, AR 72401",https://www.apartments.com/college-corner-apar...,College Corner Apartments,https://www.apartments.com/jonesboro-ar-72401/...,8442056202,72401
1,dict,"215 Union St, Jonesboro, AR 72401",https://www.apartments.com/university-lofts-jo...,University Lofts,https://www.apartments.com/jonesboro-ar-72401/...,8444536845,72401
2,dict,"1751 W Nettleton Ave, Jonesboro, AR 72401",https://www.apartments.com/grand-oak-place-jon...,Grand Oak Place,https://www.apartments.com/jonesboro-ar-72401/...,8448504171,72401
3,dict,"1515 Aggie Rd, Jonesboro, AR 72401",https://www.apartments.com/williamsburg-apartm...,Williamsburg Apartments,https://www.apartments.com/jonesboro-ar-72401/...,8669677254,72401
4,dict,"4412 Eastwood Dr, Batavia, OH 45103",https://www.apartments.com/eastgate-woods-apar...,Eastgate Woods Apartments,https://www.apartments.com/batavia-oh-45103/32...,5132015059,45103
...,...,...,...,...,...,...,...
1017,dict,"1710 W TC Jester Blvd, Houston, TX 77008",https://www.apartments.com/the-grove-at-white-...,The Grove at White Oak,https://www.apartments.com/houston-tx-77008/10...,3463334182,77008
1018,dict,"1640 E TC Jester Blvd, Houston, TX 77008",https://www.apartments.com/city-park-in-the-he...,City Park in the Heights,https://www.apartments.com/houston-tx-77008/10...,7137663471,77008
1019,dict,"2220 Pinegate Dr, Houston Heights, TX 77008",https://www.apartments.com/citadel-houston-hei...,Citadel,https://www.apartments.com/houston-tx-77008/10...,8448088235,77008
1020,dict,"1660 W TC Jester Blvd, Houston, TX 77008",https://www.apartments.com/the-gardens-apartme...,The Gardens Apartments,https://www.apartments.com/houston-tx-77008/10...,3462317608,77008
1021,dict,"2400 Hackett Dr, Houston, TX 77008",https://www.apartments.com/providence-at-heigh...,Providence at Heights,https://www.apartments.com/houston-tx-77008/10...,8324601692,77008

In [9]:
df_merge_col = pd.merge(df_apart, df, on='zipcode', how='left')
df_merge_col['phone_number'] = df_merge_col['phone_number'].replace('-', '',regex=True).str.lower()
#df_merge_col.drop(['credit', 'deposit','move','onr_applicant_id','parking','password','pets', 'propertyAddress','propertyCity','propertyId', 'propertyState', 'propertyStreet', 'rent'], axis=1, inplace=True)
#df_merge_col = df_merge_col.dropna(how='any')
df_merge_col['phone'] = df_merge_col['phone'].fillna(0).astype(np.int64)
#df_merge_col['phone'] = df_merge_col['phone'].astype(str).str.replace('\.0', '')
df_merge_col['id'] = df_merge_col['id'].fillna(0).astype(int)
df_merge_col = df_merge_col.drop(columns={'link_def','combined'})
df_merge_col['last_name'] = df_merge_col['last_name'].fillna('')
df_merge_col['first_name'] = df_merge_col['first_name'].fillna('')
df_merge_col

,_type,address,link_url,name,page,phone_number,zipcode,index,id,email,phone,first_name,last_name,city,state,budget,created_at,budget_categories,low,high
0,dict,"1830 E Johnson St, Jonesboro, AR 72401",https://www.apartments.com/college-corner-apar...,College Corner Apartments,https://www.apartments.com/jonesboro-ar-72401/...,8442056202,72401,1.0,2657281,NaN,8702536428,Easter,Stevenson,jonesboro,ar,$400 - $699,2021-04-07T04:06:54-07:00,2.0,320.0,838.0
1,dict,"215 Union St, Jonesboro, AR 72401",https://www.apartments.com/university-lofts-jo...,University Lofts,https://www.apartments.com/jonesboro-ar-72401/...,8444536845,72401,1.0,2657281,NaN,8702536428,Easter,Stevenson,jonesboro,ar,$400 - $699,2021-04-07T04:06:54-07:00,2.0,320.0,838.0
2,dict,"1751 W Nettleton Ave, Jonesboro, AR 72401",https://www.apartments.com/grand-oak-place-jon...,Grand Oak Place,https://www.apartments.com/jonesboro-ar-72401/...,8448504171,72401,1.0,2657281,NaN,8702536428,Easter,Stevenson,jonesboro,ar,$400 - $699,2021-04-07T04:06:54-07:00,2.0,320.0,838.0
3,dict,"1515 Aggie Rd, Jonesboro, AR 72401",https://www.apartments.com/williamsburg-apartm...,Williamsburg Apartments,https://www.apartments.com/jonesboro-ar-72401/...,8669677254,72401,1.0,2657281,NaN,8702536428,Easter,Stevenson,jonesboro,ar,$400 - $699,2021-04-07T04:06:54-07:00,2.0,320.0,838.0
4,dict,"4412 Eastwood Dr, Batavia, OH 45103",https://www.apartments.com/eastgate-woods-apar...,Eastgate Woods Apartments,https://www.apartments.com/batavia-oh-45103/32...,5132015059,45103,3.0,2657314,NaN,5133641821,Paula,Toole,batavia,oh,$400 - $699,2021-04-07T04:44:12-07:00,2.0,320.0,838.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1017,dict,"1710 W TC Jester Blvd, Houston, TX 77008",https://www.apartments.com/the-grove-at-white-...,The Grove at White Oak,https://www.apartments.com/houston-tx-77008/10...,3463334182,77008,259.0,2660951,NaN,3462643224,Nakia,Dennis,houston,tx,$1000+,2021-04-07T14:34:06-07:00,4.0,1000.0,1200.0
1018,dict,"1640 E TC Jester Blvd, Houston, TX 77008",https://www.apartments.com/city-park-in-the-he...,City Park in the Heights,https://www.apartments.com/houston-tx-77008/10...,7137663471,77008,259.0,2660951,NaN,3462643224,Nakia,Dennis,houston,tx,$1000+,2021-04-07T14:34:06-07:00,4.0,1000.0,1200.0
1019,dict,"2220 Pinegate Dr, Houston Heights, TX 77008",https://www.apartments.com/citadel-houston-hei...,Citadel,https://www.apartments.com/houston-tx-77008/10...,8448088235,77008,259.0,2660951,NaN,3462643224,Nakia,Dennis,houston,tx,$1000+,2021-04-07T14:34:06-07:00,4.0,1000.0,1200.0
1020,dict,"1660 W TC Jester Blvd, Houston, TX 77008",https://www.apartments.com/the-gardens-apartme...,The Gardens Apartments,https://www.apartments.com/houston-tx-77008/10...,3462317608,77008,259.0,2660951,NaN,3462643224,Nakia,Dennis,houston,tx,$1000+,2021-04-07T14:34:06-07:00,4.0,1000.0,1200.0
1021,dict,"2400 Hackett Dr, Houston, TX 77008",https://www.apartments.com/providence-at-heigh...,Providence at Heights,https://www.apartments.com/houston-tx-77008/10...,8324601692,77008,259.0,2660951,NaN,3462643224,Nakia,Dennis,houston,tx,$1000+,2021-04-07T14:34:06-07:00,4.0,1000.0,1200.0

In [10]:
df_merge_col['phone'][0]

8702536428

In [11]:
df_merge_formatted = pd.DataFrame()
df_merge_formatted['applicant_id'] = df_merge_col['id']
df_merge_formatted['link_applicant_id'] = 'https://landlord.rentown.net/?auto=' + df_merge_col['id'].astype(str) + '&source=sw'
df_merge_formatted['first_name'] = df_merge_col['first_name']
df_merge_formatted['last_name'] = df_merge_col['last_name']
df_merge_formatted['customer_name'] = df_merge_col['first_name'] + ' ' + df_merge_col['last_name']
df_merge_formatted['customer_phone'] = df_merge_col['phone']
df_merge_formatted['customer_email'] = df_merge_col['email']
df_merge_formatted['property_name'] = df_merge_col['name']
df_merge_formatted['full_address'] = df_merge_col['address']
df_merge_formatted['address'] = np.nan
df_merge_formatted['city'] = df_merge_col['city']
df_merge_formatted['state'] = df_merge_col['state']
df_merge_formatted['zipcode'] = df_merge_col['zipcode']
df_merge_formatted['pm_phone'] = df_merge_col['phone_number']
df_merge_formatted['URL'] = df_merge_col['link_url']
df_merge_formatted

,applicant_id,link_applicant_id,first_name,last_name,customer_name,customer_phone,customer_email,property_name,full_address,address,city,state,zipcode,pm_phone,URL
0,2657281,https://landlord.rentown.net/?auto=2657281&sou...,Easter,Stevenson,Easter Stevenson,8702536428,NaN,College Corner Apartments,"1830 E Johnson St, Jonesboro, AR 72401",NaN,jonesboro,ar,72401,8442056202,https://www.apartments.com/college-corner-apar...
1,2657281,https://landlord.rentown.net/?auto=2657281&sou...,Easter,Stevenson,Easter Stevenson,8702536428,NaN,University Lofts,"215 Union St, Jonesboro, AR 72401",NaN,jonesboro,ar,72401,8444536845,https://www.apartments.com/university-lofts-jo...
2,2657281,https://landlord.rentown.net/?auto=2657281&sou...,Easter,Stevenson,Easter Stevenson,8702536428,NaN,Grand Oak Place,"1751 W Nettleton Ave, Jonesboro, AR 72401",NaN,jonesboro,ar,72401,8448504171,https://www.apartments.com/grand-oak-place-jon...
3,2657281,https://landlord.rentown.net/?auto=2657281&sou...,Easter,Stevenson,Easter Stevenson,8702536428,NaN,Williamsburg Apartments,"1515 Aggie Rd, Jonesboro, AR 72401",NaN,jonesboro,ar,72401,8669677254,https://www.apartments.com/williamsburg-apartm...
4,2657314,https://landlord.rentown.net/?auto=2657314&sou...,Paula,Toole,Paula Toole,5133641821,NaN,Eastgate Woods Apartments,"4412 Eastwood Dr, Batavia, OH 45103",NaN,batavia,oh,45103,5132015059,https://www.apartments.com/eastgate-woods-apar...
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1017,2660951,https://landlord.rentown.net/?auto=2660951&sou...,Nakia,Dennis,Nakia Dennis,3462643224,NaN,The Grove at White Oak,"1710 W TC Jester Blvd, Houston, TX 77008",NaN,houston,tx,77008,3463334182,https://www.apartments.com/the-grove-at-white-...
1018,2660951,https://landlord.rentown.net/?auto=2660951&sou...,Nakia,Dennis,Nakia Dennis,3462643224,NaN,City Park in the Heights,"1640 E TC Jester Blvd, Houston, TX 77008",NaN,houston,tx,77008,7137663471,https://www.apartments.com/city-park-in-the-he...
1019,2660951,https://landlord.rentown.net/?auto=2660951&sou...,Nakia,Dennis,Nakia Dennis,3462643224,NaN,Citadel,"2220 Pinegate Dr, Houston Heights, TX 77008",NaN,houston,tx,77008,8448088235,https://www.apartments.com/citadel-houston-hei...
1020,2660951,https://landlord.rentown.net/?auto=2660951&sou...,Nakia,Dennis,Nakia Dennis,3462643224,NaN,The Gardens Apartments,"1660 W TC Jester Blvd, Houston, TX 77008",NaN,houston,tx,77008,3462317608,https://www.apartments.com/the-gardens-apartme...
1021,2660951,https://landlord.rentown.net/?auto=2660951&sou...,Nakia,Dennis,Nakia Dennis,3462643224,NaN,Providence at Heights,"2400 Hackett Dr, Houston, TX 77008",NaN,houston,tx,77008,8324601692,https://www.apartments.com/providence-at-heigh...

In [12]:
print(len(df_merge_formatted['full_address'][38].split(',')))

for i in range (0, len(df_merge_formatted)):
    if (len(df_merge_formatted['full_address'][i].split(',')) == 2):
        df_merge_formatted['address'][i] = df_merge_formatted['property_name'][i].split(',')[0]
    else:
        df_merge_formatted['address'][i] = df_merge_formatted['full_address'][i].split(',')[0]
    
df_merge_formatted

3

<ipython-input-12-02a03b95b491>:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_merge_formatted['address'][i] = df_merge_formatted['full_address'][i].split(',')[0]
C:\Users\Jimmy K\anaconda3\lib\site-packages\pandas\core\indexing.py:670: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  iloc._setitem_with_indexer(indexer, value)
<ipython-input-12-02a03b95b491>:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_merge_formatted['address'][i] = df_merge_formatted['property_name'][i].split(',')[0]

,applicant_id,link_applicant_id,first_name,last_name,customer_name,customer_phone,customer_email,property_name,full_address,address,city,state,zipcode,pm_phone,URL
0,2657281,https://landlord.rentown.net/?auto=2657281&sou...,Easter,Stevenson,Easter Stevenson,8702536428,NaN,College Corner Apartments,"1830 E Johnson St, Jonesboro, AR 72401",1830 E Johnson St,jonesboro,ar,72401,8442056202,https://www.apartments.com/college-corner-apar...
1,2657281,https://landlord.rentown.net/?auto=2657281&sou...,Easter,Stevenson,Easter Stevenson,8702536428,NaN,University Lofts,"215 Union St, Jonesboro, AR 72401",215 Union St,jonesboro,ar,72401,8444536845,https://www.apartments.com/university-lofts-jo...
2,2657281,https://landlord.rentown.net/?auto=2657281&sou...,Easter,Stevenson,Easter Stevenson,8702536428,NaN,Grand Oak Place,"1751 W Nettleton Ave, Jonesboro, AR 72401",1751 W Nettleton Ave,jonesboro,ar,72401,8448504171,https://www.apartments.com/grand-oak-place-jon...
3,2657281,https://landlord.rentown.net/?auto=2657281&sou...,Easter,Stevenson,Easter Stevenson,8702536428,NaN,Williamsburg Apartments,"1515 Aggie Rd, Jonesboro, AR 72401",1515 Aggie Rd,jonesboro,ar,72401,8669677254,https://www.apartments.com/williamsburg-apartm...
4,2657314,https://landlord.rentown.net/?auto=2657314&sou...,Paula,Toole,Paula Toole,5133641821,NaN,Eastgate Woods Apartments,"4412 Eastwood Dr, Batavia, OH 45103",4412 Eastwood Dr,batavia,oh,45103,5132015059,https://www.apartments.com/eastgate-woods-apar...
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1017,2660951,https://landlord.rentown.net/?auto=2660951&sou...,Nakia,Dennis,Nakia Dennis,3462643224,NaN,The Grove at White Oak,"1710 W TC Jester Blvd, Houston, TX 77008",1710 W TC Jester Blvd,houston,tx,77008,3463334182,https://www.apartments.com/the-grove-at-white-...
1018,2660951,https://landlord.rentown.net/?auto=2660951&sou...,Nakia,Dennis,Nakia Dennis,3462643224,NaN,City Park in the Heights,"1640 E TC Jester Blvd, Houston, TX 77008",1640 E TC Jester Blvd,houston,tx,77008,7137663471,https://www.apartments.com/city-park-in-the-he...
1019,2660951,https://landlord.rentown.net/?auto=2660951&sou...,Nakia,Dennis,Nakia Dennis,3462643224,NaN,Citadel,"2220 Pinegate Dr, Houston Heights, TX 77008",2220 Pinegate Dr,houston,tx,77008,8448088235,https://www.apartments.com/citadel-houston-hei...
1020,2660951,https://landlord.rentown.net/?auto=2660951&sou...,Nakia,Dennis,Nakia Dennis,3462643224,NaN,The Gardens Apartments,"1660 W TC Jester Blvd, Houston, TX 77008",1660 W TC Jester Blvd,houston,tx,77008,3462317608,https://www.apartments.com/the-gardens-apartme...
1021,2660951,https://landlord.rentown.net/?auto=2660951&sou...,Nakia,Dennis,Nakia Dennis,3462643224,NaN,Providence at Heights,"2400 Hackett Dr, Houston, TX 77008",2400 Hackett Dr,houston,tx,77008,8324601692,https://www.apartments.com/providence-at-heigh...

In [13]:
nan_mask = df_merge_formatted['city'].isnull()

for i in range (0, len(df_merge_formatted)):
    if (len(df_merge_formatted['full_address'][i].split(',')) == 2):
        df_merge_formatted['address'][i] = df_merge_formatted['property_name'][i].split(',')[0]
        if (nan_mask[i] == True):
            df_merge_formatted['city'][i] = df_merge_formatted['full_address'][i].split(',')[0].lower()
            df_merge_formatted['state'][i] = df_merge_formatted['full_address'][i].split(',')[1][1:3].lower()
    else:
        df_merge_formatted['address'][i] = df_merge_formatted['full_address'][i].split(',')[0]
        if (nan_mask[i] == True):
            df_merge_formatted['city'][i] = df_merge_formatted['full_address'][i].split(',')[1][1:].lower()
            df_merge_formatted['state'][i] = df_merge_formatted['full_address'][i].split(',')[2][1:3].lower()
    
df_merge_formatted

<ipython-input-13-eb71bfc0267b>:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_merge_formatted['address'][i] = df_merge_formatted['full_address'][i].split(',')[0]
<ipython-input-13-eb71bfc0267b>:12: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_merge_formatted['city'][i] = df_merge_formatted['full_address'][i].split(',')[1][1:].lower()
<ipython-input-13-eb71bfc0267b>:13: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_merge_formatted['state'][i] = df_merge_formatted['full_address'][i].split(',')[2][1:3].lower()
<ipython-input-13-eb71bfc0267b>:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_merge_formatted['address'][i] = df_merge_formatted['property_name'][i].split(',')[0]
<ipython-input-13-eb71bfc0267b>:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_merge_formatted['city'][i] = df_merge_formatted['full_address'][i].split(',')[0].lower()
<ipython-input-13-eb71bfc0267b>:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_merge_formatted['state'][i] = df_merge_formatted['full_address'][i].split(',')[1][1:3].lower()

,applicant_id,link_applicant_id,first_name,last_name,customer_name,customer_phone,customer_email,property_name,full_address,address,city,state,zipcode,pm_phone,URL
0,2657281,https://landlord.rentown.net/?auto=2657281&sou...,Easter,Stevenson,Easter Stevenson,8702536428,NaN,College Corner Apartments,"1830 E Johnson St, Jonesboro, AR 72401",1830 E Johnson St,jonesboro,ar,72401,8442056202,https://www.apartments.com/college-corner-apar...
1,2657281,https://landlord.rentown.net/?auto=2657281&sou...,Easter,Stevenson,Easter Stevenson,8702536428,NaN,University Lofts,"215 Union St, Jonesboro, AR 72401",215 Union St,jonesboro,ar,72401,8444536845,https://www.apartments.com/university-lofts-jo...
2,2657281,https://landlord.rentown.net/?auto=2657281&sou...,Easter,Stevenson,Easter Stevenson,8702536428,NaN,Grand Oak Place,"1751 W Nettleton Ave, Jonesboro, AR 72401",1751 W Nettleton Ave,jonesboro,ar,72401,8448504171,https://www.apartments.com/grand-oak-place-jon...
3,2657281,https://landlord.rentown.net/?auto=2657281&sou...,Easter,Stevenson,Easter Stevenson,8702536428,NaN,Williamsburg Apartments,"1515 Aggie Rd, Jonesboro, AR 72401",1515 Aggie Rd,jonesboro,ar,72401,8669677254,https://www.apartments.com/williamsburg-apartm...
4,2657314,https://landlord.rentown.net/?auto=2657314&sou...,Paula,Toole,Paula Toole,5133641821,NaN,Eastgate Woods Apartments,"4412 Eastwood Dr, Batavia, OH 45103",4412 Eastwood Dr,batavia,oh,45103,5132015059,https://www.apartments.com/eastgate-woods-apar...
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1017,2660951,https://landlord.rentown.net/?auto=2660951&sou...,Nakia,Dennis,Nakia Dennis,3462643224,NaN,The Grove at White Oak,"1710 W TC Jester Blvd, Houston, TX 77008",1710 W TC Jester Blvd,houston,tx,77008,3463334182,https://www.apartments.com/the-grove-at-white-...
1018,2660951,https://landlord.rentown.net/?auto=2660951&sou...,Nakia,Dennis,Nakia Dennis,3462643224,NaN,City Park in the Heights,"1640 E TC Jester Blvd, Houston, TX 77008",1640 E TC Jester Blvd,houston,tx,77008,7137663471,https://www.apartments.com/city-park-in-the-he...
1019,2660951,https://landlord.rentown.net/?auto=2660951&sou...,Nakia,Dennis,Nakia Dennis,3462643224,NaN,Citadel,"2220 Pinegate Dr, Houston Heights, TX 77008",2220 Pinegate Dr,houston,tx,77008,8448088235,https://www.apartments.com/citadel-houston-hei...
1020,2660951,https://landlord.rentown.net/?auto=2660951&sou...,Nakia,Dennis,Nakia Dennis,3462643224,NaN,The Gardens Apartments,"1660 W TC Jester Blvd, Houston, TX 77008",1660 W TC Jester Blvd,houston,tx,77008,3462317608,https://www.apartments.com/the-gardens-apartme...
1021,2660951,https://landlord.rentown.net/?auto=2660951&sou...,Nakia,Dennis,Nakia Dennis,3462643224,NaN,Providence at Heights,"2400 Hackett Dr, Houston, TX 77008",2400 Hackett Dr,houston,tx,77008,8324601692,https://www.apartments.com/providence-at-heigh...

In [14]:
count = 0
for i in range (0,len(df_merge_formatted)):
    if df_merge_formatted['customer_phone'][i] == 0:
        #print('aaaaa'+str(i))
        count+=1
        nan_mask[i] = True
    else:
        nan_mask[i] = False
print(count)

236

In [15]:
df_merge_formatted['full_address'][0][-8:-6]
df_merge_formatted['customer_name'][0]
data_len = len(df_merge_formatted)
print (data_len)
#nan_mask = df_merge_formatted['customer_email'].isnull()
count = 0
count2 = 0
count3 = 0
j = 0
k = 0
current = 0
for i in range (0,data_len):
    current = 0
    if nan_mask[i] == True:
        if i == 0:
            j = i
            k = i+1
        elif i == data_len-1:
            k = i
            j = i-1
        else:
            j = i-1
            k = i+1    
        while (j> 0 & nan_mask[j] != True):
            if (df_merge_formatted['state'][i] == df_merge_formatted['state'][j]):
                current = j
                count2+=1
                break
            j-=1
        
        if (current == 0):
            while (nan_mask[k] != True):
                if (df_merge_formatted['state'][i] == df_merge_formatted['state'][k]):
                    current = k
                    count3+=1
                    break    
                k+=1
                
        if (current != 0):
            df_merge_formatted['first_name'][i] = df_merge_formatted['first_name'][current]
            df_merge_formatted['last_name'][i] = df_merge_formatted['last_name'][current]
            df_merge_formatted['link_applicant_id'][i] = df_merge_formatted['link_applicant_id'][current]
            df_merge_formatted['applicant_id'][i] = df_merge_formatted['applicant_id'][current]
            df_merge_formatted['customer_name'][i] = df_merge_formatted['customer_name'][current]
            df_merge_formatted['customer_phone'][i] = df_merge_formatted['customer_phone'][current]
            df_merge_formatted['customer_email'][i] = df_merge_formatted['customer_email'][current]       
        count +=1

print (count)
print ('count2 = ',count2)
print ('count3 = ',count3)

<ipython-input-15-792895d15cf0>:40: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_merge_formatted['first_name'][i] = df_merge_formatted['first_name'][current]
<ipython-input-15-792895d15cf0>:41: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_merge_formatted['last_name'][i] = df_merge_formatted['last_name'][current]
<ipython-input-15-792895d15cf0>:42: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_merge_formatted['link_applicant_id'][i] = df_merge_formatted['link_applicant_id'][current]
<ipython-input-15-792895d15cf0>:43: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_merge_formatted['applicant_id'][i] = df_merge_formatted['applicant_id'][current]
<ipython-input-15-792895d15cf0>:44: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_merge_formatted['customer_name'][i] = df_merge_formatted['customer_name'][current]
<ipython-input-15-792895d15cf0>:45: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_merge_formatted['customer_phone'][i] = df_merge_formatted['customer_phone'][current]
<ipython-input-15-792895d15cf0>:46: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_merge_formatted['customer_email'][i] = df_merge_formatted['customer_email'][current]

1022
236
count2 =  230
count3 =  1

In [16]:
count = 0
for i in range (0,len(df_merge_formatted)):
    if df_merge_formatted['customer_phone'][i] == 0:
        #print('aaaaa'+str(i))
        count+=1
        nan_mask[i] = True
    else:
        nan_mask[i] = False
print(count)

10

In [17]:
df_merge_formatted['full_address'][0][-8:-6]
df_merge_formatted['customer_name'][0]
data_len = len(df_merge_formatted)
print (data_len)
#nan_mask = df_merge_formatted['customer_email'].isnull()
count = 0
count2 = 0
count3 = 0
j = 0
k = 0
current = 0
for i in range (0,data_len):
    current = 0
    if nan_mask[i] == True:
        print('i: ',i)
        if i == 0:
            j = i
            k = i+1
        elif i == data_len-1:
            k = i
            j = i-1
        else:
            j = i-1
            k = i+1
            
        while (k<data_len & nan_mask[k] != True):
            if (df_merge_formatted['state'][i] == df_merge_formatted['state'][k]):
                current = k
                count3+=1
                break
            k+=1
        
        if (current == 0):
            while (j> 0 & nan_mask[j] != True):
                if (df_merge_formatted['state'][i] == df_merge_formatted['state'][j]):
                    current = j
                    print(current,'aaa')
                    count2+=1
                    break    
                j-=1
                
        if (current != 0):   
            print('bbb')
            df_merge_formatted['first_name'][i] = df_merge_formatted['first_name'][current]
            df_merge_formatted['last_name'][i] = df_merge_formatted['last_name'][current]
            df_merge_formatted['link_applicant_id'][i] = df_merge_formatted['link_applicant_id'][current]
            df_merge_formatted['applicant_id'][i] = df_merge_formatted['applicant_id'][current]
            df_merge_formatted['customer_name'][i] = df_merge_formatted['customer_name'][current]
            df_merge_formatted['customer_phone'][i] = df_merge_formatted['customer_phone'][current]
            df_merge_formatted['customer_email'][i] = df_merge_formatted['customer_email'][current]
            
        count +=1

print (count)
print ('count2 = ',count2)
print ('count3 = ',count3)

1022
i:  6
i:  72
i:  73
72 aaa
bbb
i:  74
73 aaa
bbb
i:  243
i:  305
i:  306
305 aaa
bbb
i:  388
i:  389
388 aaa
bbb
i:  390
389 aaa
bbb
10
count2 =  5
count3 =  0

<ipython-input-17-8f0912bde13a>:44: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_merge_formatted['first_name'][i] = df_merge_formatted['first_name'][current]
<ipython-input-17-8f0912bde13a>:45: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_merge_formatted['last_name'][i] = df_merge_formatted['last_name'][current]
<ipython-input-17-8f0912bde13a>:46: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_merge_formatted['link_applicant_id'][i] = df_merge_formatted['link_applicant_id'][current]
<ipython-input-17-8f0912bde13a>:47: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_merge_formatted['applicant_id'][i] = df_merge_formatted['applicant_id'][current]
<ipython-input-17-8f0912bde13a>:48: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_merge_formatted['customer_name'][i] = df_merge_formatted['customer_name'][current]
<ipython-input-17-8f0912bde13a>:49: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_merge_formatted['customer_phone'][i] = df_merge_formatted['customer_phone'][current]
<ipython-input-17-8f0912bde13a>:50: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_merge_formatted['customer_email'][i] = df_merge_formatted['customer_email'][current]

In [18]:
df_merge_formatted['city'] = df_merge_formatted['city'].str.lower()
df_merge_formatted['state'] = df_merge_formatted['state'].str.upper()
df_merge_formatted = df_merge_formatted[df_merge_formatted.customer_phone != 0]
df_merge_formatted = df_merge_formatted.drop_duplicates('full_address')
df_merge_formatted = df_merge_formatted.drop_duplicates('pm_phone')
df_merge_formatted = df_merge_formatted.reset_index()
df_merge_formatted = df_merge_formatted.rename(columns={'index' :'id'})
df_merge_formatted = df_merge_formatted.drop(columns={'id'})
print (str(len(df_merge_formatted)) + 'aaaaa')



leng = int(len(df_merge_formatted['pm_phone']) / 10)
mod = int(len(df_merge_formatted['pm_phone']) % 10)
print(leng)
print(mod)
import numpy as np
a = []
for i in range (3,13):
    for j in range (0,leng):
        a.append(i)
#print(a)
for i in range (0,mod):
    a.append(12)
##### USE THIS FOR RANDOM USER ID #####
# a=np.array([3,4,5,6,7,8,9,10,11,12]*(leng))
# b = []
# for i in range (0,mod):
#   b.append(i+3)
# a = np.append( a , b )
# np.random.shuffle(a)
# print(len(a))
#######################################

df_merge_formatted['user_id'] =  a
df_state = pd.read_excel('state_list.xlsx')
df_merge_state = pd.merge(df_merge_formatted,df_state, left_on='state', right_on='state_code', how='left')

cols = ['user_id','link_applicant_id','applicant_id','first_name','last_name','customer_name','customer_phone','customer_email','property_name','full_address','address','city','state','state_name','zipcode','pm_phone','URL']
df_merge_state = df_merge_state[cols]
# cols = ['agent','applicant_id','customer_name','customer_phone','customer_email','name','full_address','address','city','state','zipcode','pm_phone','URL']
# df_merge_formatted = df_merge_formatted[cols]
df_merge_state



df_merge_state['state_name'] = df_merge_state['state_name'].str.lower()
df_merge_state['city'] = df_merge_state['city'].str.lower()
df_geo_google = pd.read_excel('cities.xlsx')
df_geo_google['state_name'] = df_geo_google['state_name'].str.lower()
df_geo_google['city_name'] = df_geo_google['city_name'].str.lower()

df_merge_col2 = pd.merge(df_merge_state, df_geo_google[['city_id','city_name','state_id','state_name']], left_on=['city','state_name'], right_on=['city_name','state_name'], how='left')
df_merge_col2['city_id'] = df_merge_col2['city_id'].fillna(0).astype(int)
df_merge_col2['state_id'] = df_merge_col2['state_id'].fillna(0).astype(int)
df_merge_col2 = df_merge_col2.drop(columns={'city_name'})
df_merge_col2['id'] = df_merge_col2.index+1

cols = ['id','user_id','link_applicant_id','applicant_id','first_name','last_name','customer_name','customer_phone','customer_email','property_name','full_address','address','city','state','state_name','zipcode','pm_phone','URL','city_id','state_id']
df_merge_col2 = df_merge_col2[cols]
df_merge_col2

1001aaaaa
100
1

,id,user_id,link_applicant_id,applicant_id,first_name,last_name,customer_name,customer_phone,customer_email,property_name,full_address,address,city,state,state_name,zipcode,pm_phone,URL,city_id,state_id
0,1,3,https://landlord.rentown.net/?auto=2657281&sou...,2657281,Easter,Stevenson,Easter Stevenson,8702536428,NaN,College Corner Apartments,"1830 E Johnson St, Jonesboro, AR 72401",1830 E Johnson St,jonesboro,AR,arkansas,72401,8442056202,https://www.apartments.com/college-corner-apar...,1013260,21135
1,2,3,https://landlord.rentown.net/?auto=2657281&sou...,2657281,Easter,Stevenson,Easter Stevenson,8702536428,NaN,University Lofts,"215 Union St, Jonesboro, AR 72401",215 Union St,jonesboro,AR,arkansas,72401,8444536845,https://www.apartments.com/university-lofts-jo...,1013260,21135
2,3,3,https://landlord.rentown.net/?auto=2657281&sou...,2657281,Easter,Stevenson,Easter Stevenson,8702536428,NaN,Grand Oak Place,"1751 W Nettleton Ave, Jonesboro, AR 72401",1751 W Nettleton Ave,jonesboro,AR,arkansas,72401,8448504171,https://www.apartments.com/grand-oak-place-jon...,1013260,21135
3,4,3,https://landlord.rentown.net/?auto=2657281&sou...,2657281,Easter,Stevenson,Easter Stevenson,8702536428,NaN,Williamsburg Apartments,"1515 Aggie Rd, Jonesboro, AR 72401",1515 Aggie Rd,jonesboro,AR,arkansas,72401,8669677254,https://www.apartments.com/williamsburg-apartm...,1013260,21135
4,5,3,https://landlord.rentown.net/?auto=2657314&sou...,2657314,Paula,Toole,Paula Toole,5133641821,NaN,Eastgate Woods Apartments,"4412 Eastwood Dr, Batavia, OH 45103",4412 Eastwood Dr,batavia,OH,ohio,45103,5132015059,https://www.apartments.com/eastgate-woods-apar...,1023554,21168
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
996,997,12,https://landlord.rentown.net/?auto=2660951&sou...,2660951,Nakia,Dennis,Nakia Dennis,3462643224,NaN,The Grove at White Oak,"1710 W TC Jester Blvd, Houston, TX 77008",1710 W TC Jester Blvd,houston,TX,texas,77008,3463334182,https://www.apartments.com/the-grove-at-white-...,1026481,21176
997,998,12,https://landlord.rentown.net/?auto=2660951&sou...,2660951,Nakia,Dennis,Nakia Dennis,3462643224,NaN,City Park in the Heights,"1640 E TC Jester Blvd, Houston, TX 77008",1640 E TC Jester Blvd,houston,TX,texas,77008,7137663471,https://www.apartments.com/city-park-in-the-he...,1026481,21176
998,999,12,https://landlord.rentown.net/?auto=2660951&sou...,2660951,Nakia,Dennis,Nakia Dennis,3462643224,NaN,Citadel,"2220 Pinegate Dr, Houston Heights, TX 77008",2220 Pinegate Dr,houston,TX,texas,77008,8448088235,https://www.apartments.com/citadel-houston-hei...,1026481,21176
999,1000,12,https://landlord.rentown.net/?auto=2660951&sou...,2660951,Nakia,Dennis,Nakia Dennis,3462643224,NaN,The Gardens Apartments,"1660 W TC Jester Blvd, Houston, TX 77008",1660 W TC Jester Blvd,houston,TX,texas,77008,3462317608,https://www.apartments.com/the-gardens-apartme...,1026481,21176
1000,1001,12,https://landlord.rentown.net/?auto=2660951&sou...,2660951,Nakia,Dennis,Nakia Dennis,3462643224,NaN,Providence at Heights,"2400 Hackett Dr, Houston, TX 77008",2400 Hackett Dr,houston,TX,texas,77008,8324601692,https://www.apartments.com/providence-at-heigh...,1026481,21176

In [19]:
# df_merge_col2.to_excel('link_zipcode_filter_with_customer_unique.xlsx',index=False)
df_merge_formatted.to_excel('link_zipcode_filter_with_customer_unique.xlsx',index=False)

In [20]:
###### READ FILES FROM DATABASE ######
from sqlalchemy import create_engine
import pymysql
import pandas as pd

 

sqlEngine       = create_engine('mysql+pymysql://nearby_admin:2Zer8_2t4_SAD32f32dDGF3452@nearby2.c9w6hgaskmtt.us-west-1.rds.amazonaws.com/property_outreach', pool_recycle=3600)
dbConnection    = sqlEngine.connect()
frame           = pd.read_sql("select * from listings", dbConnection);

 

pd.set_option('display.expand_frame_repr', False)
print(frame)
df_listings_db = frame
dbConnection.close()
df_listings_db

          id status                date                       property_name                                   full_address                  address             city state_code zipcode state_name  ...  home_recommendation price_confirmed  price_nego  lowcredit_eligibility                                              notes  pm_id  pm_website_applied property_website  website_phone  website_contact_url
0          1   None 2020-11-29 16:00:00        1131 E North Ln, Phoenix, AZ              10002 N 7th St, Phoenix, AZ 85020           10002 N 7th St          phoenix         AZ   85020    arizona  ...                    0               1           0                      1  2BR for $1180 available for immediate move in....      1                 NaN             None           None                 None
1          2   None 2020-11-29 16:00:00    1527 E Cinnabar Ave, Phoenix, AZ               7045 N 7th St, Phoenix, AZ 85020            7045 N 7th St          phoenix         AZ   85020    arizona  ...                    0               0           0                      0                                               None      2                 NaN             None           None                 None
2          3   None 2020-11-29 16:00:00       808 E Cochise Dr, Phoenix, AZ           1829 E Morten Ave, Phoenix, AZ 85020        1829 E Morten Ave          phoenix         AZ   85020    arizona  ...                    0               0           0                      0                                               None      3                 NaN             None           None                 None
3          4   None 2020-11-29 16:00:00  7557 N Dreamy Draw Dr, Phoenix, AZ           1675 E Morten Ave, Phoenix, AZ 85020        1675 E Morten Ave          phoenix         AZ   85020    arizona  ...                    0               1           0                      0  1BR for $1375 available now. Also on Dec 8th f...      4                 NaN             None           None                 None
4          5   None 2020-11-29 16:00:00       521 E Mission Ln, Phoenix, AZ         1350 E Northern Ave, Phoenix, AZ 85020      1350 E Northern Ave          phoenix         AZ   85020    arizona  ...                    0               0           0                      0                                               None      5                 NaN             None           None                 None
...      ...    ...                 ...                                 ...                                            ...                      ...              ...        ...     ...        ...  ...                  ...             ...         ...                    ...                                                ...    ...                 ...              ...            ...                  ...
22918  22919   None 2021-04-07 23:30:35                          Los Prados      832-832 NW 86th Ave, Plantation, FL 33324      832-832 NW 86th Ave  fort-lauderdale         FL   33324    florida  ...                    0               0           0                      0                                               None  22032                 0.0             None           None                 None
22919  22920   None 2021-04-07 23:34:12                Laurels at Jacaranda          9733 NW 7th Cir, Plantation, FL 33324          9733 NW 7th Cir  fort-lauderdale         FL   33324    florida  ...                    0               0           0                      0                                               None  22033                 0.0             None           None                 None
22920  22921   None 2021-04-07 23:35:37           Mayfair Villas Apartments         2280 Mayfair Way, Titusville, FL 32796         2280 Mayfair Way       titusville         FL   32796    florida  ...                    0               0           0                      0                                               None  22034                 0.0             None           None                 None
22921  22922   None 2021-04-07 23:44:00                       Integra Woods  1000 Integra Woods Blvd, Palm Coast, FL 32164  1000 Integra Woods Blvd       palm-coast         FL   32164    florida  ...                    0               0           0                      0                                               None  22035                 0.0             None           None                 None
22922  22923   None 2021-04-07 23:53:36         Wellington Manor Apartments              10801 SW 88th St, Miami, FL 33176         10801 SW 88th St            miami         FL   33176    florida  ...                    0               0           0                      0                                               None  22036                 0.0             None           None                 None

[22923 rows x 23 columns]

          id status                date                       property_name                                   full_address                  address             city state_code zipcode state_name  ...  home_recommendation price_confirmed  price_nego  lowcredit_eligibility                                              notes  pm_id  pm_website_applied property_website  website_phone  website_contact_url
0          1   None 2020-11-29 16:00:00        1131 E North Ln, Phoenix, AZ              10002 N 7th St, Phoenix, AZ 85020           10002 N 7th St          phoenix         AZ   85020    arizona  ...                    0               1           0                      1  2BR for $1180 available for immediate move in....      1                 NaN             None           None                 None
1          2   None 2020-11-29 16:00:00    1527 E Cinnabar Ave, Phoenix, AZ               7045 N 7th St, Phoenix, AZ 85020            7045 N 7th St          phoenix         AZ   85020    arizona  ...                    0               0           0                      0                                               None      2                 NaN             None           None                 None
2          3   None 2020-11-29 16:00:00       808 E Cochise Dr, Phoenix, AZ           1829 E Morten Ave, Phoenix, AZ 85020        1829 E Morten Ave          phoenix         AZ   85020    arizona  ...                    0               0           0                      0                                               None      3                 NaN             None           None                 None
3          4   None 2020-11-29 16:00:00  7557 N Dreamy Draw Dr, Phoenix, AZ           1675 E Morten Ave, Phoenix, AZ 85020        1675 E Morten Ave          phoenix         AZ   85020    arizona  ...                    0               1           0                      0  1BR for $1375 available now. Also on Dec 8th f...      4                 NaN             None           None                 None
4          5   None 2020-11-29 16:00:00       521 E Mission Ln, Phoenix, AZ         1350 E Northern Ave, Phoenix, AZ 85020      1350 E Northern Ave          phoenix         AZ   85020    arizona  ...                    0               0           0                      0                                               None      5                 NaN             None           None                 None
...      ...    ...                 ...                                 ...                                            ...                      ...              ...        ...     ...        ...  ...                  ...             ...         ...                    ...                                                ...    ...                 ...              ...            ...                  ...
22918  22919   None 2021-04-07 23:30:35                          Los Prados      832-832 NW 86th Ave, Plantation, FL 33324      832-832 NW 86th Ave  fort-lauderdale         FL   33324    florida  ...                    0               0           0                      0                                               None  22032                 0.0             None           None                 None
22919  22920   None 2021-04-07 23:34:12                Laurels at Jacaranda          9733 NW 7th Cir, Plantation, FL 33324          9733 NW 7th Cir  fort-lauderdale         FL   33324    florida  ...                    0               0           0                      0                                               None  22033                 0.0             None           None                 None
22920  22921   None 2021-04-07 23:35:37           Mayfair Villas Apartments         2280 Mayfair Way, Titusville, FL 32796         2280 Mayfair Way       titusville         FL   32796    florida  ...                    0               0           0                      0                                               None  22034                 0.0             None           None                 None
22921  22922   None 2021-04-07 23:44:00                       Integra Woods  1000 Integra Woods Blvd, Palm Coast, FL 32164  1000 Integra Woods Blvd       palm-coast         FL   32164    florida  ...                    0               0           0                      0                                               None  22035                 0.0             None           None                 None
22922  22923   None 2021-04-07 23:53:36         Wellington Manor Apartments              10801 SW 88th St, Miami, FL 33176         10801 SW 88th St            miami         FL   33176    florida  ...                    0               0           0                      0                                               None  22036                 0.0             None           None                 None

[22923 rows x 23 columns]

In [21]:
import datetime
import dateutil.relativedelta
now = datetime.datetime.now()
print (now + dateutil.relativedelta.relativedelta(months=-1))
df_listings_db['together'] = df_listings_db['property_name'].str.lower() + ' | ' + df_listings_db['full_address'].str.lower()
df_merge_col2['together'] = df_merge_col2['property_name'].str.lower() + ' | ' + df_merge_col2['full_address'].str.lower()

2021-03-08 14:15:59.086183

In [22]:
df_merge_col2

        id  user_id                                  link_applicant_id  applicant_id first_name  last_name     customer_name  customer_phone customer_email              property_name  ...                address       city state state_name zipcode    pm_phone                                                URL  city_id  state_id                                           together
0        1        3  https://landlord.rentown.net/?auto=2657281&sou...       2657281     Easter  Stevenson  Easter Stevenson      8702536428            NaN  College Corner Apartments  ...      1830 E Johnson St  jonesboro    AR   arkansas   72401  8442056202  https://www.apartments.com/college-corner-apar...  1013260     21135  college corner apartments | 1830 e johnson st,...
1        2        3  https://landlord.rentown.net/?auto=2657281&sou...       2657281     Easter  Stevenson  Easter Stevenson      8702536428            NaN           University Lofts  ...           215 Union St  jonesboro    AR   arkansas   72401  8444536845  https://www.apartments.com/university-lofts-jo...  1013260     21135  university lofts | 215 union st, jonesboro, ar...
2        3        3  https://landlord.rentown.net/?auto=2657281&sou...       2657281     Easter  Stevenson  Easter Stevenson      8702536428            NaN            Grand Oak Place  ...   1751 W Nettleton Ave  jonesboro    AR   arkansas   72401  8448504171  https://www.apartments.com/grand-oak-place-jon...  1013260     21135  grand oak place | 1751 w nettleton ave, jonesb...
3        4        3  https://landlord.rentown.net/?auto=2657281&sou...       2657281     Easter  Stevenson  Easter Stevenson      8702536428            NaN    Williamsburg Apartments  ...          1515 Aggie Rd  jonesboro    AR   arkansas   72401  8669677254  https://www.apartments.com/williamsburg-apartm...  1013260     21135  williamsburg apartments | 1515 aggie rd, jones...
4        5        3  https://landlord.rentown.net/?auto=2657314&sou...       2657314      Paula      Toole       Paula Toole      5133641821            NaN  Eastgate Woods Apartments  ...       4412 Eastwood Dr    batavia    OH       ohio   45103  5132015059  https://www.apartments.com/eastgate-woods-apar...  1023554     21168  eastgate woods apartments | 4412 eastwood dr, ...
...    ...      ...                                                ...           ...        ...        ...               ...             ...            ...                        ...  ...                    ...        ...   ...        ...     ...         ...                                                ...      ...       ...                                                ...
996    997       12  https://landlord.rentown.net/?auto=2660951&sou...       2660951      Nakia     Dennis      Nakia Dennis      3462643224            NaN     The Grove at White Oak  ...  1710 W TC Jester Blvd    houston    TX      texas   77008  3463334182  https://www.apartments.com/the-grove-at-white-...  1026481     21176  the grove at white oak | 1710 w tc jester blvd...
997    998       12  https://landlord.rentown.net/?auto=2660951&sou...       2660951      Nakia     Dennis      Nakia Dennis      3462643224            NaN   City Park in the Heights  ...  1640 E TC Jester Blvd    houston    TX      texas   77008  7137663471  https://www.apartments.com/city-park-in-the-he...  1026481     21176  city park in the heights | 1640 e tc jester bl...
998    999       12  https://landlord.rentown.net/?auto=2660951&sou...       2660951      Nakia     Dennis      Nakia Dennis      3462643224            NaN                    Citadel  ...       2220 Pinegate Dr    houston    TX      texas   77008  8448088235  https://www.apartments.com/citadel-houston-hei...  1026481     21176  citadel | 2220 pinegate dr, houston heights, t...
999   1000       12  https://landlord.rentown.net/?auto=2660951&sou...       2660951      Nakia     Dennis      Nakia Dennis      3462643224            NaN     The Gardens Apartments  ...  1660 W TC Jester Blvd    houston    TX      texas   77008  3462317608  https://www.apartments.com/the-gardens-apartme...  1026481     21176  the gardens apartments | 1660 w tc jester blvd...
1000  1001       12  https://landlord.rentown.net/?auto=2660951&sou...       2660951      Nakia     Dennis      Nakia Dennis      3462643224            NaN      Providence at Heights  ...        2400 Hackett Dr    houston    TX      texas   77008  8324601692  https://www.apartments.com/providence-at-heigh...  1026481     21176  providence at heights | 2400 hackett dr, houst...

[1001 rows x 21 columns]

In [23]:
df_merge_listings = pd.merge(df_merge_col2,df_listings_db[['id','date','together']], on='together', how='left')
# df_merge_listings = df_merge_listings[(df_merge_listings['date'] < (now + dateutil.relativedelta.relativedelta(months=-1))) | (pd.isna(df_merge_listings.id_y))]
# df_merge_listings = df_merge_listings[pd.isna(df_merge_listings.id_y)]
df_merge_listings = df_merge_listings.rename(columns={'id_x':'id', 'id_y':'listing_id'})
df_merge_listings = df_merge_listings.reset_index()
df_merge_listings['id'] = df_merge_listings.index + 1
df_merge_listings = df_merge_listings.drop(columns={'together','index'})
df_merge_listings['listing_id'] = df_merge_listings['listing_id'].astype(str).str.replace('\.0', '')
# df_merge_listings['listing_id'] = df_merge_listings['listing_id'].fillna(NaN).astype(int)

 


# for i in range (0, len(df_merge_listings)):
#     if (pd.notna(df_merge_listings.listing_id[i])):
#         df_merge_listings['listing_id'][i] = df_merge_listings['listing_id'][i].astype(str).replace('\.0', '')
#         print (i)
df_merge_listings

        id  user_id                                  link_applicant_id  applicant_id first_name  last_name     customer_name  customer_phone customer_email              property_name  ...       city state state_name zipcode    pm_phone                                                URL  city_id state_id  listing_id                date
0        1        3  https://landlord.rentown.net/?auto=2657281&sou...       2657281     Easter  Stevenson  Easter Stevenson      8702536428            NaN  College Corner Apartments  ...  jonesboro    AR   arkansas   72401  8442056202  https://www.apartments.com/college-corner-apar...  1013260    21135       11913 2021-02-18 16:00:00
1        2        3  https://landlord.rentown.net/?auto=2657281&sou...       2657281     Easter  Stevenson  Easter Stevenson      8702536428            NaN           University Lofts  ...  jonesboro    AR   arkansas   72401  8444536845  https://www.apartments.com/university-lofts-jo...  1013260    21135       11914 2021-02-18 16:00:00
2        3        3  https://landlord.rentown.net/?auto=2657281&sou...       2657281     Easter  Stevenson  Easter Stevenson      8702536428            NaN            Grand Oak Place  ...  jonesboro    AR   arkansas   72401  8448504171  https://www.apartments.com/grand-oak-place-jon...  1013260    21135       11916 2021-02-18 16:00:00
3        4        3  https://landlord.rentown.net/?auto=2657281&sou...       2657281     Easter  Stevenson  Easter Stevenson      8702536428            NaN    Williamsburg Apartments  ...  jonesboro    AR   arkansas   72401  8669677254  https://www.apartments.com/williamsburg-apartm...  1013260    21135       11915 2021-02-18 16:00:00
4        5        3  https://landlord.rentown.net/?auto=2657314&sou...       2657314      Paula      Toole       Paula Toole      5133641821            NaN  Eastgate Woods Apartments  ...    batavia    OH       ohio   45103  5132015059  https://www.apartments.com/eastgate-woods-apar...  1023554    21168       17505 2021-03-04 16:00:00
...    ...      ...                                                ...           ...        ...        ...               ...             ...            ...                        ...  ...        ...   ...        ...     ...         ...                                                ...      ...      ...         ...                 ...
1008  1009       12  https://landlord.rentown.net/?auto=2660951&sou...       2660951      Nakia     Dennis      Nakia Dennis      3462643224            NaN     The Grove at White Oak  ...    houston    TX      texas   77008  3463334182  https://www.apartments.com/the-grove-at-white-...  1026481    21176       21757 2021-04-01 15:48:28
1009  1010       12  https://landlord.rentown.net/?auto=2660951&sou...       2660951      Nakia     Dennis      Nakia Dennis      3462643224            NaN   City Park in the Heights  ...    houston    TX      texas   77008  7137663471  https://www.apartments.com/city-park-in-the-he...  1026481    21176       21764 2021-04-01 15:54:49
1010  1011       12  https://landlord.rentown.net/?auto=2660951&sou...       2660951      Nakia     Dennis      Nakia Dennis      3462643224            NaN                    Citadel  ...    houston    TX      texas   77008  8448088235  https://www.apartments.com/citadel-houston-hei...  1026481    21176       21769 2021-04-01 16:02:19
1011  1012       12  https://landlord.rentown.net/?auto=2660951&sou...       2660951      Nakia     Dennis      Nakia Dennis      3462643224            NaN     The Gardens Apartments  ...    houston    TX      texas   77008  3462317608  https://www.apartments.com/the-gardens-apartme...  1026481    21176       21779 2021-04-01 16:08:26
1012  1013       12  https://landlord.rentown.net/?auto=2660951&sou...       2660951      Nakia     Dennis      Nakia Dennis      3462643224            NaN      Providence at Heights  ...    houston    TX      texas   77008  8324601692  https://www.apartments.com/providence-at-heigh...  1026481    21176       21762 2021-04-01 15:52:14

[1013 rows x 22 columns]

In [24]:
leng = int(len(df_merge_listings['pm_phone']) / 10)
mod = int(len(df_merge_listings['pm_phone']) % 10)
print(leng)
print(mod)
import numpy as np
a = []
for i in range (3,13):
    for j in range (0,leng):
        a.append(i)
#print(a)
for i in range (0,mod):
    a.append(12)
df_merge_listings['user_id'] =  a
df_merge_listings

101
3

        id  user_id                                  link_applicant_id  applicant_id first_name  last_name     customer_name  customer_phone customer_email              property_name  ...       city state state_name zipcode    pm_phone                                                URL  city_id state_id  listing_id                date
0        1        3  https://landlord.rentown.net/?auto=2657281&sou...       2657281     Easter  Stevenson  Easter Stevenson      8702536428            NaN  College Corner Apartments  ...  jonesboro    AR   arkansas   72401  8442056202  https://www.apartments.com/college-corner-apar...  1013260    21135       11913 2021-02-18 16:00:00
1        2        3  https://landlord.rentown.net/?auto=2657281&sou...       2657281     Easter  Stevenson  Easter Stevenson      8702536428            NaN           University Lofts  ...  jonesboro    AR   arkansas   72401  8444536845  https://www.apartments.com/university-lofts-jo...  1013260    21135       11914 2021-02-18 16:00:00
2        3        3  https://landlord.rentown.net/?auto=2657281&sou...       2657281     Easter  Stevenson  Easter Stevenson      8702536428            NaN            Grand Oak Place  ...  jonesboro    AR   arkansas   72401  8448504171  https://www.apartments.com/grand-oak-place-jon...  1013260    21135       11916 2021-02-18 16:00:00
3        4        3  https://landlord.rentown.net/?auto=2657281&sou...       2657281     Easter  Stevenson  Easter Stevenson      8702536428            NaN    Williamsburg Apartments  ...  jonesboro    AR   arkansas   72401  8669677254  https://www.apartments.com/williamsburg-apartm...  1013260    21135       11915 2021-02-18 16:00:00
4        5        3  https://landlord.rentown.net/?auto=2657314&sou...       2657314      Paula      Toole       Paula Toole      5133641821            NaN  Eastgate Woods Apartments  ...    batavia    OH       ohio   45103  5132015059  https://www.apartments.com/eastgate-woods-apar...  1023554    21168       17505 2021-03-04 16:00:00
...    ...      ...                                                ...           ...        ...        ...               ...             ...            ...                        ...  ...        ...   ...        ...     ...         ...                                                ...      ...      ...         ...                 ...
1008  1009       12  https://landlord.rentown.net/?auto=2660951&sou...       2660951      Nakia     Dennis      Nakia Dennis      3462643224            NaN     The Grove at White Oak  ...    houston    TX      texas   77008  3463334182  https://www.apartments.com/the-grove-at-white-...  1026481    21176       21757 2021-04-01 15:48:28
1009  1010       12  https://landlord.rentown.net/?auto=2660951&sou...       2660951      Nakia     Dennis      Nakia Dennis      3462643224            NaN   City Park in the Heights  ...    houston    TX      texas   77008  7137663471  https://www.apartments.com/city-park-in-the-he...  1026481    21176       21764 2021-04-01 15:54:49
1010  1011       12  https://landlord.rentown.net/?auto=2660951&sou...       2660951      Nakia     Dennis      Nakia Dennis      3462643224            NaN                    Citadel  ...    houston    TX      texas   77008  8448088235  https://www.apartments.com/citadel-houston-hei...  1026481    21176       21769 2021-04-01 16:02:19
1011  1012       12  https://landlord.rentown.net/?auto=2660951&sou...       2660951      Nakia     Dennis      Nakia Dennis      3462643224            NaN     The Gardens Apartments  ...    houston    TX      texas   77008  3462317608  https://www.apartments.com/the-gardens-apartme...  1026481    21176       21779 2021-04-01 16:08:26
1012  1013       12  https://landlord.rentown.net/?auto=2660951&sou...       2660951      Nakia     Dennis      Nakia Dennis      3462643224            NaN      Providence at Heights  ...    houston    TX      texas   77008  8324601692  https://www.apartments.com/providence-at-heigh...  1026481    21176       21762 2021-04-01 15:52:14

[1013 rows x 22 columns]

In [25]:
###### INSERT DATA to SQL ######

# import the module
from sqlalchemy import create_engine

# create sqlalchemy engine
engine = create_engine("mysql+pymysql://nearby_admin:2Zer8_2t4_SAD32f32dDGF3452@nearby2.c9w6hgaskmtt.us-west-1.rds.amazonaws.com/property_outreach"
                       .format(user="nearby_admin",
                               pw="2Zer8_2t4_SAD32f32dDGF3452",
                               db="agent_property_lists"))
# Insert whole DataFrame into MySQL
df_merge_listings.to_sql('agent_property_lists', con = engine, if_exists = 'replace', chunksize = 1000,index=False)

In [26]:
df_merge_listings.to_excel('link_zipcode_filter_with_customer_unique_2.xlsx',index=False)